<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: black;
}

h1 {
  color: white;
  margin-left: 40px;
  text-align: center;
} 
</style>
</head>
<body>

<h1>Bookmark Manager

<form action="/bookmarks" method="get">
  <input type="submit" value="View Bookmarks" />
</form>
</h1>

</body>
</html>